<!-- Page container-->
      <div class="container mt-5 mb-md-4 py-5">
        <!-- Breadcrumb-->
        <nav class="mb-3 pt-md-3" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="city-guide-home-v1.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
          </ol>
        </nav>
        <h1 class="mb-4">News &amp; insights</h1>
        <!-- Sponsored posts-->
        <div class="row gy-4 mb-md-5 mb-4 pb-md-5 pb-4 border-bottom">
          <!-- Article-->
          <article class="col-md-6 pb-2 pb-md-0">
            <div class="card border-0 h-100"><a class="d-block position-relative mb-3" href="city-guide-blog-single.html"><span class="badge bg-success position-absolute top-0 end-0 m-3 fs-sm">Sponsored</span><img class="rounded-3" src="img/city-guide/blog/04.jpg" alt="Post image"></a>
              <div class="card-body p-0"><a class="fs-sm text-uppercase text-decoration-none" href="city-guide-blog.html#">Architecture</a>
                <h2 class="h5 pt-1 mb-2"><a class="nav-link" href="city-guide-blog-single.html">10 Delightful Dining Room Decor Trends for Spring</a></h2>
                <p class="mb-md-4 text-muted">Mi sit montes, aenean tempor sollicitudin volutpat viverra. Tellus amet, vitae ac consectetur blandit at. Odio proin elit, vehicula morbi faucibus vestibulum. Elementum sed tincidunt nec aliquam tempus. Neque pharetra vitae malesuada.</p>
              </div>
              <div class="card-footer p-0 border-top-0"><a class="d-flex align-items-center text-decoration-none position-relative zindex-5" href="city-guide-blog.html#"><img class="rounded-circle" src="img/avatars/23.png" width="48" alt="Avatar">
                  <div class="ps-2">
                    <h6 class="fs-sm text-nav lh-base mb-1">Kristin Watson</h6>
                    <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 mt-n1 me-1 align-middle"></i>Apr 28</span><span><i class="fi-chat-circle opacity-70 mt-n1 me-1 align-middle"></i>0 comments</span></div>
                  </div></a></div>
            </div>
          </article>
          <!-- Article-->
          <article class="col-md-6 pb-2 pb-md-0">
            <div class="card border-0 h-100"><a class="d-block position-relative mb-3" href="city-guide-blog-single.html"><span class="badge bg-success position-absolute top-0 end-0 m-3 fs-sm">Sponsored</span><img class="rounded-3" src="img/city-guide/blog/05.jpg" alt="Post image"></a>
              <div class="card-body p-0"><a class="fs-sm text-uppercase text-decoration-none" href="city-guide-blog.html#">Travelling</a>
                <h2 class="h5 pt-1 mb-2"><a class="nav-link" href="city-guide-blog-single.html">10 Travel Mistakes to Avoid During Coronavirus Outbreak</a></h2>
                <p class="mb-md-4 text-muted">Phasellus consequat ut sagittis, vestibulum, eget egestas senectus quis congue. Posuere montes, in ultrices vitae, luctus. Ultrices aliquet pellentesque egt in sed platea egestas amet purus nibh suspendisse semper. Iaculis sit quam magna...</p>
              </div>
              <div class="card-footer p-0 border-top-0"><a class="d-flex align-items-center text-decoration-none position-relative zindex-5" href="city-guide-blog.html#"><img class="rounded-circle" src="img/avatars/24.png" width="48" alt="Avatar">
                  <div class="ps-2">
                    <h6 class="fs-sm text-nav lh-base mb-1">Annette Black</h6>
                    <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 mt-n1 me-1 align-middle"></i>Mar 15</span><span><i class="fi-chat-circle opacity-70 mt-n1 me-1 align-middle"></i>3 comments</span></div>
                  </div></a></div>
            </div>
          </article>
        </div>
        <!-- List of posts + Sidebar-->
        <div class="row">
          <!-- Sidebar (offcanvas)-->
          <aside class="col-lg-3">
            <div class="offcanvas offcanvas-start offcanvas-collapse" id="blog-sidebar">
              <div class="offcanvas-header shadow-sm mb-2">
                <h2 class="h5 offcanvas-title">Sidebar</h2>
                <button class="btn-close" type="button" data-bs-dismiss="offcanvas"></button>
              </div>
              <div class="offcanvas-body">
                <!-- Sorting-->
                <div class="d-flex align-items-center mb-4">
                  <label class="d-inline-block me-2 pe-1 text-muted text-nowrap" for="sort"><i class="fi-arrows-sort mt-n1 me-1 align-middle opacity-80"></i>Sort by:</label>
                  <select class="form-select" id="sort">
                    <option>Newest</option>
                    <option>Oldest</option>
                    <option>Popular</option>
                  </select>
                </div>
                <!-- Search-->
                <div class="position-relative mb-4">
                  <input class="form-control pe-5" type="text" placeholder="Search article by keywords..."><i class="fi-search position-absolute top-50 end-0 translate-middle-y me-3"></i>
                </div>
                <!-- Categories-->
                <div class="card card-flush pb-2 pb-lg-0 mb-4">
                  <div class="card-body">
                    <h3 class="h5">Categories</h3><a class="nav-link fw-normal d-flex justify-content-between py-1 px-0" href="city-guide-blog.html#">Architecture<span class="text-muted ms-2">(2)</span></a><a class="nav-link fw-normal d-flex justify-content-between py-1 px-0" href="city-guide-blog.html#">Travelling<span class="text-muted ms-2">(4)</span></a><a class="nav-link fw-normal d-flex justify-content-between py-1 px-0" href="city-guide-blog.html#">Lifestyle<span class="text-muted ms-2">(5)</span></a><a class="nav-link fw-normal d-flex justify-content-between py-1 px-0" href="city-guide-blog.html#">Entertainment<span class="text-muted ms-2">(1)</span></a><a class="nav-link fw-normal d-flex justify-content-between py-1 px-0" href="city-guide-blog.html#">Accomodation<span class="text-muted ms-2">(8)</span></a>
                  </div>
                </div>
                <!-- Tags-->
                <div class="card card-flush pb-2 pb-lg-0 mb-4">
                  <div class="card-body">
                    <h4 class="h5">Popular Tags</h4>
                    <div class="d-flex flex-wrap mb-n1">
                      <button class="btn btn-xs btn-outline-secondary rounded-pill fs-sm fw-normal me-2 mb-2">Trending</button>
                      <button class="btn btn-xs btn-outline-secondary rounded-pill fs-sm fw-normal me-2 mb-2">Tutorial</button>
                      <button class="btn btn-xs btn-outline-secondary rounded-pill fs-sm fw-normal me-2 mb-2">Tips</button>
                      <button class="btn btn-xs btn-outline-secondary rounded-pill fs-sm fw-normal me-2 mb-2">Places</button>
                      <button class="btn btn-xs btn-outline-secondary rounded-pill fs-sm fw-normal me-2 mb-2">Urban</button>
                      <button class="btn btn-xs btn-outline-secondary rounded-pill fs-sm fw-normal me-2 mb-2">Travel</button>
                    </div>
                  </div>
                </div>
                <!-- Subscribe-->
                <div class="card card-flush mb-4">
                  <div class="card-body">
                    <h4 class="h5 mb-3">Stay Informed</h4>
                    <p class="fs-sm mb-3">Subscribe to our newsletter and be the first to see the latest news and advice.</p>
                    <form class="form-group rounded-pill">
                      <div class="input-group input-group-sm"><span class="input-group-text text-muted"><i class="fi-mail"></i></span>
                        <input class="form-control" type="email" placeholder="Your email">
                      </div>
                      <button class="btn btn-primary btn-sm rounded-pill" type="button">Sign up</button>
                    </form>
                    <div class="form-text fs-xs pt-1">* By signing up you agree to our <a href='city-guide-blog.html#'>Privacy Policy</a></div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
          <!-- Articles list-->
          <div class="col-lg-9">
            <div class="ps-lg-3">
              <!-- Article-->
              <article class="card card-horizontal border-0 mb-4"><a class="card-img-top position-relative rounded-3 me-sm-4 mb-sm-0 mb-3" href="city-guide-blog-single.html" style="background-image: url(img/city-guide/blog/06.jpg);"><span class="badge bg-info position-absolute top-0 end-0 m-3 fs-sm">New</span></a>
                <div class="card-body px-0 pt-0 pb-lg-5 pb-sm-4 pb-2"><a class="fs-sm text-uppercase text-decoration-none" href="city-guide-blog.html#">Travelling</a>
                  <h3 class="h5 pt-1 mb-2"><a class="nav-link" href="city-guide-blog-single.html">Air Travel in the Time of COVID-19</a></h3>
                  <p class="fs-sm text-muted">Mi sit montes, aenean tempor sollicitudin volutpat viverra. Tellus amet, vitae ac consectetur blandit at. Odio proin elit, vehicula morbi faucibus vestibulum pulvinar posuere nisl tincidunt. Iaculis sit quam magna congue.</p><a class="d-flex align-items-center text-decoration-none" href="city-guide-blog.html#"><img class="rounded-circle" src="img/avatars/25.png" width="48" alt="Avatar">
                    <div class="ps-2">
                      <h6 class="fs-sm text-nav lh-base mb-1">Bessie Cooper</h6>
                      <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 mt-n1 me-1 align-middle"></i>May 24</span><span><i class="fi-chat-circle opacity-70 mt-n1 me-1 align-middle"></i>3 comments</span></div>
                    </div></a>
                </div>
              </article>
              <!-- Article-->
              <article class="card card-horizontal border-0 mb-4"><a class="card-img-top position-relative rounded-3 me-sm-4 mb-sm-0 mb-3" href="city-guide-blog-single.html" style="background-image: url(img/city-guide/blog/07.jpg);"></a>
                <div class="card-body px-0 pt-0 pb-lg-5 pb-sm-4 pb-2"><a class="fs-sm text-uppercase text-decoration-none" href="city-guide-blog.html#">Inspiration</a>
                  <h3 class="h5 pt-1 mb-2"><a class="nav-link" href="city-guide-blog-single.html">10 World-Class Museums You Can Visit Online</a></h3>
                  <p class="fs-sm text-muted">Nunc vivamus nam vitae ut faucibus metus pretium nisl. Elementum sed tincidunt nec aliquam tempus. Neque pharetra vitae, mauris malesuada.  Porttitor consequat, sollicitudin vivamus pharetra nibh faucibus neque, viverra.</p><a class="d-flex align-items-center text-decoration-none" href="city-guide-blog.html#"><img class="rounded-circle" src="img/avatars/24.png" width="48" alt="Avatar">
                    <div class="ps-2">
                      <h6 class="fs-sm text-nav lh-base mb-1">Annette Black</h6>
                      <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 mt-n1 me-1 align-middle"></i>May 17</span><span><i class="fi-chat-circle opacity-70 mt-n1 me-1 align-middle"></i>4 comments</span></div>
                    </div></a>
                </div>
              </article>
              <!-- Article-->
              <article class="card card-horizontal border-0 mb-4"><a class="card-img-top position-relative rounded-3 me-sm-4 mb-sm-0 mb-3" href="city-guide-blog-single.html" style="background-image: url(img/city-guide/blog/08.jpg);"></a>
                <div class="card-body px-0 pt-0 pb-lg-5 pb-sm-4 pb-2"><a class="fs-sm text-uppercase text-decoration-none" href="city-guide-blog.html#">Entertainment</a>
                  <h3 class="h5 pt-1 mb-2"><a class="nav-link" href="city-guide-blog-single.html">7 Tips for Solo Travelers in Africa</a></h3>
                  <p class="fs-sm text-muted">Phasellus cursus orci pulvinar proin nulla vitae. Arcu faucibus vestibulum fames eget nunc. Ut in sed platea egestas amet purus nibh suspendisse semper. Iaculis sit quam magna congue. Amet vel non aliquet habitasse.</p><a class="d-flex align-items-center text-decoration-none" href="city-guide-blog.html#"><img class="rounded-circle" src="img/avatars/26.png" width="48" alt="Avatar">
                    <div class="ps-2">
                      <h6 class="fs-sm text-nav lh-base mb-1">Ralph Edwards</h6>
                      <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 mt-n1 me-1 align-middle"></i>May 10</span><span><i class="fi-chat-circle opacity-70 mt-n1 me-1 align-middle"></i>2 comments</span></div>
                    </div></a>
                </div>
              </article>
              <!-- Article-->
              <article class="card card-horizontal border-0 mb-4"><a class="card-img-top position-relative rounded-3 me-sm-4 mb-sm-0 mb-3" href="city-guide-blog-single.html" style="background-image: url(img/city-guide/blog/09.jpg);"></a>
                <div class="card-body px-0 pt-0 pb-lg-5 pb-sm-4 pb-2"><a class="fs-sm text-uppercase text-decoration-none" href="city-guide-blog.html#">Accomodation</a>
                  <h3 class="h5 pt-1 mb-2"><a class="nav-link" href="city-guide-blog-single.html">How to Spend a Few Days Visiting Coast</a></h3>
                  <p class="fs-sm text-muted">Mi sit montes, aenean tempor sollicitudin volutpat viverra. Tellus amet, vitae ac consectetur blandit at. Odio proin elit, vehicula morbi faucibus vestibulum. Praesent sed pulvinar posuere nisl tincidunt. Iaculis sit quam magna congue.</p><a class="d-flex align-items-center text-decoration-none" href="city-guide-blog.html#"><img class="rounded-circle" src="img/avatars/23.png" width="48" alt="Avatar">
                    <div class="ps-2">
                      <h6 class="fs-sm text-nav lh-base mb-1">Kristin Watson</h6>
                      <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 mt-n1 me-1 align-middle"></i>Apr 30</span><span><i class="fi-chat-circle opacity-70 mt-n1 me-1 align-middle"></i>No comments</span></div>
                    </div></a>
                </div>
              </article>
              <!-- Article-->
              <article class="card card-horizontal border-0 mb-4"><a class="card-img-top position-relative rounded-3 me-sm-4 mb-sm-0 mb-3" href="city-guide-blog-single.html" style="background-image: url(img/city-guide/blog/10.jpg);"></a>
                <div class="card-body px-0 pt-0 pb-lg-5 pb-sm-4 pb-2"><a class="fs-sm text-uppercase text-decoration-none" href="city-guide-blog.html#">Inspiration</a>
                  <h3 class="h5 pt-1 mb-2"><a class="nav-link" href="city-guide-blog-single.html">US Museum Industry 2021–2024</a></h3>
                  <p class="fs-sm text-muted">Nunc vivamus nam vitae ut faucibus metus pretium nisl. Elementum sed tincidunt nec aliquam tempus. Neque pharetra vitae, mauris malesuadafelis donec eu sit nisi. Accumsan mauris eget convallis mattis sed etiam scelerisque.</p><a class="d-flex align-items-center text-decoration-none" href="city-guide-blog.html#"><img class="rounded-circle" src="img/avatars/27.png" width="48" alt="Avatar">
                    <div class="ps-2">
                      <h6 class="fs-sm text-nav lh-base mb-1">Guy Hawkins</h6>
                      <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 mt-n1 me-1 align-middle"></i>Apr 19</span><span><i class="fi-chat-circle opacity-70 mt-n1 me-1 align-middle"></i>2 comments</span></div>
                    </div></a>
                </div>
              </article>
              <!-- Article-->
              <article class="card card-horizontal border-0 mb-4"><a class="card-img-top position-relative rounded-3 me-sm-4 mb-sm-0 mb-3" href="city-guide-blog-single.html" style="background-image: url(img/city-guide/blog/11.jpg);"></a>
                <div class="card-body px-0 pt-0 pb-lg-5 pb-sm-4 pb-2"><a class="fs-sm text-uppercase text-decoration-none" href="city-guide-blog.html#">Lifestyle</a>
                  <h3 class="h5 pt-1 mb-2"><a class="nav-link" href="city-guide-blog-single.html">Rocky Mountains Ski Resorts News &amp; Events</a></h3>
                  <p class="fs-sm text-muted">Phasellus cursus orci pulvinar proin nulla vitae. Arcu faucibus vestibulum fames eget nunc. Ut in sed platea egestas amet purus nibh suspendisse semper. Praesent sed pulvinar posuere nisl tincidunt. Praesent amet sed lacus vitae.</p><a class="d-flex align-items-center text-decoration-none" href="city-guide-blog.html#"><img class="rounded-circle" src="img/avatars/26.png" width="48" alt="Avatar">
                    <div class="ps-2">
                      <h6 class="fs-sm text-nav lh-base mb-1">Ralph Edwards</h6>
                      <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 mt-n1 me-1 align-middle"></i>Apr 06</span><span><i class="fi-chat-circle opacity-70 mt-n1 me-1 align-middle"></i>5 comments</span></div>
                    </div></a>
                </div>
              </article>
            </div>
            <!-- Pagination-->
            <div class="d-flex justify-content-end pt-4 border-top">
              <nav aria-label="Blog pagination">
                <ul class="pagination mb-0">
                  <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 8</span></li>
                  <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">1<span class="visually-hidden">(current)</span></span></li>
                  <li class="page-item d-none d-sm-block"><a class="page-link" href="city-guide-blog.html#">2</a></li>
                  <li class="page-item d-none d-sm-block"><a class="page-link" href="city-guide-blog.html#">3</a></li>
                  <li class="page-item d-none d-sm-block">...</li>
                  <li class="page-item d-none d-sm-block"><a class="page-link" href="city-guide-blog.html#">8</a></li>
                  <li class="page-item"><a class="page-link" href="city-guide-blog.html#" aria-label="Next"><i class="fi-chevron-right"></i></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>