@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "@iconscout/unicons/css/line.css";




.flash {
  font-size: 14px;
  margin-top: 1rem !important;
  max-width: 320px;
  margin-right: 1rem !important;
  z-index: 9999;
}

.form-group-index{
  box-shadow: none!important;
}