<% provide(:title, "Поиск по рейтингу") %>
<!-- Page container-->
<div class="container mt-5 pt-5">
  <div class="row g-0 mt-n3">
    <!-- Filters sidebar (Offcanvas on mobile)-->
    <aside class="col-lg-4 col-xl-3 border px-3 rounded mb-4">
      <div class="offcanvas offcanvas-start offcanvas-collapse" id="filters-sidebar">
        <%= search_form_for @q do |form| %>
          <div class="offcanvas-header d-flex d-lg-none align-items-center">
            <h2 class="h5 mb-0">Поиск</h2>
            <button class="btn-close" type="button" data-bs-dismiss="offcanvas"></button>
          </div>
          <div class="offcanvas-body py-lg-4">
            <div class="pb-4 mb-2">
              <h3 class="h6">Регион</h3>
              <%= form.collection_select :region_id_eq, @regions, :id, :name, {:include_blank => true}, {class: "form-control"} %>
            </div>
            <div class="border-top py-4">
              <%= form.submit "Найти", class: "btn btn-outline-primary w-100" %>
            </div>
          </div>
        </div>
      <% end %>
    </aside>
    <!-- Page content-->
    <div class="col-lg-8 col-xl-9 position-relative overflow-hidden pb-5 px-3">
      <!-- Map popup-->
      <div class="map-popup invisible" id="map">
        <button class="btn btn-icon btn-light btn-sm shadow-sm rounded-circle" type="button" data-bs-toggle-class="invisible" data-bs-target="#map"><i class="fi-x fs-xs"></i></button>
        <div class="interactive-map" data-map-options-json="json/map-options-real-estate-rent.json"></div>
      </div>
      <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch">
        <div class="d-flex align-items-center flex-shrink-0">
          <a class="btn btn-outline-secondary" href="real-estate-catalog-rent.html#" data-bs-toggle-class="invisible" data-bs-target="#map">
            <i class="fi-map me-2"></i>
            На карте
          </a>
        </div>
        <hr class="d-none d-sm-block w-100 mx-4">
        <div class="d-none d-sm-flex align-items-center flex-shrink-0 text-muted">
          <i class="fi-check-circle me-2"></i>
          <span class="fs-sm ">Более 1000 вариантов</span>
        </div>
      </div>
      <div class="card card-hover card-horizontal border-0 shadow-sm mb-4"><a class="card-img-top" href="real-estate-single-v1.html" style="background-image: url(img/real-estate/catalog/08.jpg);">
          <div class="position-absolute start-0 top-0 pt-3 ps-3"><span class="d-table badge bg-info">New</span></div>
        </a>
        <div class="card-body position-relative pb-3">
          <div class="dropdown position-absolute zindex-5 top-0 end-0 mt-3 me-3">
          </div>
          <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">For rent</h4>
          <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" href="real-estate-single-v1.html">Greenpoint Rentals | 85 sq.m</a></h3>
          <p class="mb-2 fs-sm text-muted">1510 Castle Hill Ave Bronx, NY 10462</p>
          <div class="fw-bold">
            <span class="star-rating">
              <i class="star-rating-icon fi-star-filled active"></i>
              <i class="star-rating-icon fi-star-filled active"></i>
              <i class="star-rating-icon fi-star-filled active"></i>
              <i class="star-rating-icon fi-star-filled active"></i>
              <i class="star-rating-icon fi-star-filled "></i>
            </span>
          </div>
          <div class="d-flex align-items-center justify-content-center justify-content-sm-start border-top pt-3 pb-2 mt-3 text-nowrap"><span class="d-inline-block me-4 fs-sm">1<i class="fi-bed ms-1 mt-n1 fs-lg text-muted"></i></span><span class="d-inline-block me-4 fs-sm">1<i class="fi-bath ms-1 mt-n1 fs-lg text-muted"></i></span><span class="d-inline-block fs-sm">1<i class="fi-car ms-1 mt-n1 fs-lg text-muted"></i></span></div>
        </div>
      </div>
      <!-- Catalog grid-->
      <div class="row g-4 py-4" id="gigs">
        <!-- Item-->
        <% @brands.each do |brand| %>
          <%= render brand %>
        <% end %>
      </div>
      <!-- Pagination-->
      <nav class="border-top pb-md-4 pt-4 mt-2" aria-label="Pagination">
        <ul class="pagination mb-1">
          <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
          <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">1<span class="visually-hidden">(current)</span></span></li>
          <li class="page-item d-none d-sm-block"><a class="page-link" href="real-estate-catalog-rent.html#">2</a></li>
          <li class="page-item d-none d-sm-block"><a class="page-link" href="real-estate-catalog-rent.html#">3</a></li>
          <li class="page-item d-none d-sm-block">...</li>
          <li class="page-item d-none d-sm-block"><a class="page-link" href="real-estate-catalog-rent.html#">8</a></li>
          <li class="page-item"><a class="page-link" href="real-estate-catalog-rent.html#" aria-label="Next"><i class="fi-chevron-right"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- Sidebar toggle button (mobile)-->
<button class="btn btn-primary btn-sm w-100 rounded-0 fixed-bottom d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#filters-sidebar">
  <i class="fi-filter me-2"></i>
  Поиск
</button>
